<app-header></app-header>
<main class="page-content">

  <!-- Contact Area -->
  <div class="contact-us-area section-padding-md">

<!-- Contact Us Info -->
<div class="container">
<div class="row">

  <div class="col-lg-6">
    <div class="commentbox">
      <h5>LIÊN HỆ VỚI CHÚNG TÔI</h5>
      <form id="contact-form" action="https://whizthemes.com/nazmul/php/mail.php" method="POST" class="sn-form contact-form">
        <div class="sn-form-inner">
          <div class="single-input single-input-half">
            <label for="customer-firstname">Họ Tên *</label>
            <input pInputText type="text" formControlName="name" />
          </div>
          <div class="single-input single-input-half">
            <label for="customer-firstname">Email *</label>
            <input pInputText type="text" formControlName="email" />
          </div>
          <div class="single-input single-input-half">
            <label for="customer-firstname">Số điện thoại *</label>
            <input pInputText type="text" formControlName="phone" />
          </div>
          <div class="single-input single-input-half">
            <label for="customer-firstname">Nội Dung *</label>
            <input pInputText type="text" formControlName="content" />
          </div>
          <div class="single-input">
            <button class="sn-button sn-button-dark" type="submit" ><span>Gửi</span></button>
          </div>
        </div>
      </form>
      <p class="form-message"></p>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="google-map-wrapper">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe id="gmap_canvas" src="https://www.google.com/maps/place/Li%C3%AAu+Th%C6%B0%E1%BB%A3ng,+Li%C3%AAu+X%C3%A1,+Y%C3%AAn+M%E1%BB%B9,+H%C6%B0ng+Y%C3%AAn,+Vi%E1%BB%87t+Nam/@20.9202716,106.0530424,17z/data=!3m1!4b1!4m5!3m4!1s0x3135a498f3f3c6df:0x6b13fe089e6c52e!8m2!3d20.9201007!4d106.0563027?hl=vi"></iframe>
          <a href="https://sites.google.com/view/maps-api-v2/mapv2"></a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<!--// Contact Us Info -->

  </div>
  <!--// Contact Area -->

<!-- Features Area -->
<div class="features-area">
<div class="container">
<div class="row justify-content-center features-wrapper">

  <!-- Single Features -->

  <!--// Single Features -->

</div>
</div>
</div>
<!--// Features Area -->

<!-- Newsletter & Brand Logos Area -->
<div class="newsletter-brandlogo-area section-padding-xs">
<div class="container">
<div class="row no-gutters align-items-center">

  <!-- Newsletter -->

  <!--// Newsletter -->

  <!-- Brand Logo -->

  <!--// Brand Logo -->

</div>
</div>
</div>
<!--// Newsletter & Brand Logos Area -->

</main>
<app-footer></app-footer>
