<div class="p-dialog-header">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button
      type="button"
      class="p-dialog-header-icon p-dialog-header-maximize p-link"
      (click)="cancel()"
    >
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="mt-2 p-dialog-body grid p-fluid">
  <div class="col-6" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="tex"
          class="p-inputtext-sm"
          pInputText
          formControlName="categoryName"
        />
        <label for="inputtext">Name</label>
      </span>
      <!-- // <f-errors [errors]="form.get('code')"></f-errors> -->
    </div>
  </div>
  <div class="col-6" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="tex"
          class="p-inputtext-sm"
          pInputText
          formControlName="description"
        />
        <label for="inputtext">Mô tả</label>
      </span>
      <!-- // <f-errors [errors]="form.get('code')"></f-errors> -->
    </div>
  </div>
</div>

<div class="p-dialog-footer p-p-0 Pmt-3">
  <button
    pButton
    *ngIf="screenType !== 2"
    (click)="save()"
    label="Lưu"
    icon="pi pi-check"
    class="mr-2"
  ></button>
  <button
    pButton
    (click)="cancel()"
    label="Đóng"
    icon="pi pi-times"
    class="p-button-danger"
  ></button>
</div>
